.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 3.7rem;
    width: 375px;
    height: 667px;    
    margin-top: 10rem;
    background: #38846D;
    position: relative;
    overflow: hidden;
}

.logo{
    cursor: pointer;
}

.header{
    position: absolute;
    top: 0;
}

.left{
    position: absolute;
    left: 0;
}

.right{
    position: absolute;
    right: 0;
}


.footer{
    position: absolute;
    bottom: 0;
}