
.App {
    text-align: center;
  } 
  
  *{
    box-sizing:border-box; 
   
  }
.section{
    color: black;
    cursor: pointer;
    margin: 30 auto;
    width: 600px;
    background: #F3E4E1;
    padding-top: 40px;
    padding-bottom: 10px;
     text-align: center;
     font-family: PT Serif;
     /* line-height: 10px; */
    }


  .title{
    text-align: center;
    font-family: PT Serif;
    font-size: 40px;


  }
  .btnAdd{
    color:rgb(252, 250, 250);
    background-color: rgba(19, 16, 16, 0.75);
    border-radius:50% ;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 40px;
    justify-content: center;
    margin-top: 35px;
  

  }

  .info{
      width: 500px;
      height: 80px; 
      display: flex;
      line-height: 0px;
      margin-left: 40px;
     

  }
  .coffePrice{
      display: flex;
      justify-content: space-between;
      width: 450px;
      line-height: 10px;
    height: 50px;
    margin-top: 30px;
    margin-left: 30px;

  }

  .coffeInfo{

width: 100 ;
line-height: 0px;
padding-right:200px;
font-size: 15px;


  }