.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    padding: 3.2rem;
    width: 17rem;
    height: 70rem;
    margin-top: 2rem;
    background: #F3E4E1;
    position: relative;
    text-align: left;
    overflow: hidden;
}

.btn-container{
    position: absolute;
    top: .8rem;
    left: .8rem;
    cursor: pointer;
    border: 1px solid whitesmoke;
    background: whitesmoke;
    padding: 6px;
    border-radius: 20px;
}

.about-title, .eva-text{
    font-family: PT Serif;
}

.about-bold-text{
    font-weight: bold;
}

.about-pic-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    line-height: .1rem;
}

.pic{
    border-radius: 3rem;
}

.big{
    font-size: 1.5rem;
}